<a href="https://colab.research.google.com/github/love111330229/IDS/blob/master/week13_0529.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from random import sample

n_samples = 0
while True:
  random_integer = sample(range(1,1001),1)[0]
  n_samples += 1
  if random_integer % 56 == 0:
    break
print(random_integer)
print(n_samples)

280
121

In [3]:
sample_history=[]
while True:
  random_integer = sample(range(1, 1001), 1)[0]
  sample_history.append(random_integer)
  if random_integer % 56 == 0:
    break
print(sample_history)
print(len(sample_history))

[533, 596, 385, 826, 89, 85, 641, 831, 60, 948, 17, 739, 673, 289, 305, 243, 30, 333, 26, 10, 602, 34, 194, 174, 406, 207, 21, 598, 351, 458, 274, 324, 67, 588, 258, 144, 146, 777, 71, 969, 140, 778, 580, 731, 429, 220, 3, 261, 627, 518, 807, 198, 473, 619, 483, 5, 822, 782, 645, 489, 730, 304, 372, 662, 492, 724, 314, 79, 992, 608, 604, 328, 84, 460, 382, 528, 192, 295, 741, 875, 419, 143, 136, 159, 577, 704, 50, 504]
88

In [4]:
n_vowels = 0 
for i in 'hfdhrfiwedwoefijfriurhfadfcafiiefruhfpwefhfrhgrehgerf9aeso[fidsghirreter8uew9fw[0eidw0wow;kfldjg':
    if i in ['a', 'e', 'i', 'o', 'u']:
        #print(i)
        n_vowels += 1
print(n_vowels)

28

In [5]:
test_str = 'azcbobobegghak'
n_char = len(test_str)
#print(n_char)
for i in range(12):
    print(test_str[i:i+3])

azc
zcb
cbo
bob
obo
bob
obe
beg
egg
ggh
gha
hak

In [6]:
test_str = 'azcbobobegghak'
n_char = len(test_str)
n_bobs = 0
for i in range(n_char - 2):
    #print(test_str[i:i+3])
    if test_str[i:i+3] == 'bob':
        n_bobs += 1
print(n_bobs)

2

In [0]:
sample_n=[]
n=range(1,101)

In [0]:
x = list(range(1, 101))
N = len(x)
x_bar = sum(x) / N
sse = 0
for xi in x:
    #error = xi - x_bar
    squared_error = (xi - x_bar)**2
    sse += squared_error #sse = sse + squared_error
sample_mse = sse / (N-1)

In [11]:
from statistics import stdev

stdev(range(1, 101)) # [1, 2, 3, ..., 100]

29.011491975882016

In [13]:
print(abs(-222))
print(abs(222))
#絕對值

222
222

In [15]:
def absolute(x):
    """
    Returns the absolute value of x.
    """
    if x < 0:
        return -x
    else:
        return x

print(absolute(-222))
print(absolute(222))

222
222

In [19]:
def get_fahrenheit(x):
    """
    Transform a Celsius degree into  Farenheit scale
    """
    fah = x * 9/5 + 32
    return fah

get_fahrenheit(100)

212.0

In [21]:
def get_bmi(height, weight):
    """
    Calculate BMI based on height and weight
    """
    height = height / 100
    bmi = weight / height**2
    return bmi

get_bmi(160, 50)

19.531249999999996

In [0]:
def is_prime(x)

In [0]:
def is_prime(x):
    """
    Returns True if x is a prime, or returns False
    """
    divisors = []
    for i in range(1, x+1):
        if x % i == 0:
            divisors.append(i)
    n_divisors = len(divisors)
    return n_divisors == 2

In [23]:
is_prime(8)

False

In [24]:
is_prime(2)

True